body{
    background-color: #000;
    background-image: url(./assets/bg.png);
    background-size: cover;
    margin: 0;
    padding: 0;

}

.logo{
    
    margin-top: 40px;
    margin-left: 50px;
}
.navbar{
    background: #000;
    overflow: hidden;
    margin-top: -5px ;
    
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
.grow-list {
    flex-grow: 1;
    padding-left: 62px;
  }
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
}
.list-item{
    margin: 40px;
    margin-left: 50px;
}
.button-small{
    background-color: #b033c3;
    border: none;
    border-radius: 1em;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 35px;
    color: white;
    
    cursor: pointer;
    font-weight: 700;
}
.button-small:hover{
color: #000;


}



.hero-heading{
    
    color: white;
    margin-top: 16%;
    align-items: center;
    text-align: center;
    font-size: 85px;
}

.hero-description{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: -35px;
}
.button-large{
    background-color: #b033c3;
    border: none;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    margin-left: 600px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.button-large:hover{
    color: #000;

}



